<div class="container table-background mt-3">
  <div class="container d-flex justify-content-between p-3 align-items-center">
    <button class="btn btn-success me-3">Add New Student</button>

    <form class="d-flex" role="search">
      <input
        class="form-control me-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
      />
      <button class="btn" type="submit">
        <svg
          class="custom-svg-color"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          width="32"
          height="32"
          viewBox="0 0 32 32"
          stroke="white"
        >
          <title>search</title>
          <path
            d="M32 30.586l-10.845-10.845c1.771-2.092 2.845-4.791 2.845-7.741 0-6.617-5.383-12-12-12s-12 5.383-12 12c0 6.617 5.383 12 12 12 2.949 0 5.649-1.074 7.741-2.845l10.845 10.845 1.414-1.414zM12 22c-5.514 0-10-4.486-10-10s4.486-10 10-10c5.514 0 10 4.486 10 10s-4.486 10-10 10z"
          ></path>
        </svg>
      </button>
    </form>
  </div>
  <div class="form-container container p-3" style="background-color: white">
    <table
      class="table table-active table-bordered p-3 table-background text-light"
    >
      <tr>
        <th>Student Number</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Programme</th>
        <th>Gender</th>
        <th>Exam Room</th>
        <th>Course Unit</th>
      </tr>

      <tr>
        <td>mwine</td>
        <td></td>
        <td></td>
        <td>Mwine</td>
        <td></td>
        <td></td>
        <td>Mwine</td>
      </tr>

      <tr>
        <td>mwine</td>
        <td></td>
        <td></td>
        <td>Mwine</td>
        <td></td>
        <td></td>
        <td>Mwine</td>
      </tr>
      <tr>
        <td>mwine</td>
        <td></td>
        <td></td>
        <td>Mwine</td>
        <td></td>
        <td></td>
        <td>Mwine</td>
      </tr>
    </table>
  </div>
</div>

<style>
  .table-background {
    background-color: #818181;
    /* height: max-content; */
  }

  table {
    border: 30px black;
  }

  .custom-svg-color {
    color: #ffffff; /* Change this to your desired color */
  }
</style>
