<button
  class="btn btn-primary"
  type="button"
  data-bs-toggle="offcanvas"
  data-bs-target="#offcanvasWithBothOptions"
  aria-controls="offcanvasWithBothOptions"
>
  Enable both scrolling & backdrop
</button>

<div
  class="offcanvas offcanvas-top"
  data-bs-scroll="true"
  tabindex="-1"
  id="offcanvasWithBothOptions"
  aria-labelledby="offcanvasWithBothOptionsLabel"
>
  <div class="offcanvas-header">
    <!-- <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">
      Backdrop with scrolling
    </h5> -->
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
    ></button>
  </div>
  <div class="offcanvas-body">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Home</li>
      <li class="list-group-item">Authenticate Student</li>
      <li class="list-group-item">Authentication Logs</li>
      <li class="list-group-item">Administrators</li>
      <li class="list-group-item">Settings</li>
      <li class="list-group-item">Logout</li>
    </ul>
  </div>
</div>
